<h1 class="eventname"><%= @event.name %></h1>
<dl id="eventinfo" class="dl-horizontal">
  <%= event_item startdate %>
  <%= event_item enddate %>
  <%= event_item location %>
  <%= event_item details %>
</dl>
