<h1 class="eventname"><%= @event.name %></h1>
<dl id="eventinfo" class="dl-horizontal">
  <%= event_item start_date %>
  <%= event_item end_date %>
  <%= event_item location %>
  <%= event_item details %>
</dl>
