<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.keys.each do |i| %>
        <%= content_tag(:div, flash[i], :class => "alert #{flash_box(i)}") %>
      <% end %>
      <%= hero %>
      <section>
        <div class="row">
          <div class="<%= content_for?(:sidebar) ? "span8" : "span12" %>">
            <%= yield %>
          </div>
          <% if content_for?(:sidebar) %>
          <div class="span4">
            <%= yield(:sidebar) %>
          <% end %>
        </div>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
